.DS_Store
.env
/node_modules/
*.tsbuildinfo
prisma/*.sqlite
prisma/*.sqlite-*

# React Router
/.react-router/
/build/

# Cloudflare
.mf
.wrangler
.dev.vars*
/migrations/

!.dev.vars.example
!.env.example
package-lock.json
generated/prisma-zod/.prisma-zod-generator-manifest.json
